In [2]:
import numpy as np
import pandas as pd
import math
import statistics
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import calplot
import matplotlib.cm as cm

# **Weather Forecasting**

**Brief description of the dataset**\
This dataset provides data on weather from 1st January 2009 to 31st December 2016. This dataset contains 14 different features such as air temperature, atmospheric pressure, and humidity, collected every ten minutes.

**Project steps**\
The main aim of this project is to perform weather forecasting for the period January-December 2016.\
Following what we have seen during the lessons, a comprehensive pipeline should be devised, including:
1. Loading, converting and cleaning of the data (note: aggregate the data in order to have weekly frequency).
Divide your dataset into training and testing;
2. Exploring the dataset with descriptive statistics and frequency analysis. Use appropriate graphs to visualise
the data at hand;
3. Describing the time series patterns (visually and numerically);
4. Focusing on temperature (degC, dependent variable), build the most appropriate models to forecast the
data for the specified period. Evaluate the model performance using different metrics. Visualise the results with appropriate graphs.

For the different steps, comment on the main results and any relevant observation/finding you have noticed.

## **Point 1**
Loading, converting and cleaning of the data (note: aggregate the data in order to have weekly frequency).
Divide your dataset into training and testing.

### Load the data

In [3]:
weather_df = pd.read_csv('Weather_ts.csv', sep=',', parse_dates=['Date Time'],  dayfirst=True, index_col='Date Time')
weather_df

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-01 00:10:00,996.52,-8.02,265.40,-8.90,93.30,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
2009-01-01 00:20:00,996.57,-8.41,265.01,-9.28,93.40,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2009-01-01 00:30:00,996.53,-8.51,264.91,-9.31,93.90,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
2009-01-01 00:40:00,996.51,-8.31,265.12,-9.07,94.20,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
2009-01-01 00:50:00,996.51,-8.27,265.15,-9.04,94.10,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 23:10:00,1000.11,-3.93,269.23,-8.09,72.60,4.56,3.31,1.25,2.06,3.31,1292.41,0.56,1.00,202.6
2016-12-31 23:20:00,1000.07,-4.05,269.10,-8.13,73.10,4.52,3.30,1.22,2.06,3.30,1292.98,0.67,1.52,240.0
2016-12-31 23:30:00,999.93,-3.35,269.81,-8.06,69.71,4.77,3.32,1.44,2.07,3.32,1289.44,1.14,1.92,234.3
2016-12-31 23:40:00,999.82,-3.16,270.01,-8.21,67.91,4.84,3.28,1.55,2.05,3.28,1288.39,1.08,2.00,215.2
2016-12-31 23:50:00,999.81,-4.23,268.94,-8.53,71.80,4.46,3.20,1.26,1.99,3.20,1293.56,1.49,2.16,225.8

The columns are:
1.	Date Time		- Date-time reference 
2.	p (mbar)		- Pressure used to quantify internal pressure (in millibars) 
3.	T (degC)		- Temperature in Celsius
4.	Tpot (K)	    - Temperature in Kelvin
5.	Tdew (degC)		- Temperature in Celsius relative to humidity
6.	rh (%)		    - Relative Humidity 
7.	VPmax (mbar)	- Saturation vapor pressure
8.	VPact (mbar)	- Vapor pressure
9.	VPdef (mbar)	- Vapor pressure deficit 
10.	sh (g/kg)		- Specific humidity
11.	H2OC (mmol/mol)	- Water vapor concentration
12.	rho (g/m**3)	- Airtight 
13.	wv (m/s)		- Wind speed
14.	max. wv (m/s)	- Maximum wind speed
15.	wd (deg)		- Wind direction in degrees

### Study and clean the data

In [4]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 420550 entries, 2009-01-01 00:10:00 to 2016-12-31 23:50:00
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   p (mbar)         420550 non-null  float64
 1   T (degC)         420550 non-null  float64
 2   Tpot (K)         420550 non-null  float64
 3   Tdew (degC)      420550 non-null  float64
 4   rh (%)           420550 non-null  float64
 5   VPmax (mbar)     420550 non-null  float64
 6   VPact (mbar)     420550 non-null  float64
 7   VPdef (mbar)     420550 non-null  float64
 8   sh (g/kg)        420550 non-null  float64
 9   H2OC (mmol/mol)  420550 non-null  float64
 10  rho (g/m**3)     420550 non-null  float64
 11  wv (m/s)         420550 non-null  float64
 12  max. wv (m/s)    420550 non-null  float64
 13  wd (deg)         420550 non-null  float64
dtypes: float64(14)
memory usage: 48.1 MB

There are no null values in any of the columns, so I don't have to deal with them. All the columns are numeric, so I can use the function .describe() to get some further information about them.

In [5]:
weather_df.describe()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
count,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000,420550.000000
mean,989.212751,9.450181,283.492779,4.955886,76.008260,13.576273,9.533771,4.042419,6.022418,9.640238,1216.062557,1.702225,3.056558,174.743714
std,8.358475,8.423346,8.504449,6.730651,16.476195,7.739016,4.184158,4.896855,2.656135,4.235388,39.975064,65.446792,69.017014,86.681794
min,913.600000,-23.010000,250.600000,-25.010000,12.950000,0.950000,0.790000,0.000000,0.500000,0.800000,1059.450000,-9999.000000,-9999.000000,0.000000
25%,984.200000,3.360000,277.430000,0.240000,65.210000,7.780000,6.210000,0.870000,3.920000,6.290000,1187.490000,0.990000,1.760000,124.900000
50%,989.580000,9.420000,283.470000,5.220000,79.300000,11.820000,8.860000,2.190000,5.590000,8.960000,1213.790000,1.760000,2.960000,198.100000
75%,994.720000,15.470000,289.530000,10.070000,89.400000,17.600000,12.350000,5.300000,7.800000,12.490000,1242.770000,2.860000,4.740000,234.100000
max,1015.350000,37.280000,311.340000,23.110000,100.000000,63.770000,28.320000,46.010000,18.130000,28.820000,1393.540000,28.490000,23.500000,360.000000

In [6]:
weather_df.shape

(420550, 14)

### Weekly aggregation of the data

The dataframe has daily frequency, but I aggregate it to have a weekly frequency.

In [7]:
weather_df_weekly = weather_df.resample('W').mean()
weather_df_weekly.head()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2009-01-04,996.446696,-4.292070,269.146087,-6.185148,87.255409,4.511496,3.918348,0.593009,2.451287,3.934887,1289.293165,1.293252,2.310504,177.589652
2009-01-11,999.146161,-11.057847,262.168393,-13.171438,84.714841,2.831081,2.369058,0.462044,1.477421,2.372718,1327.335734,1.312153,2.256984,158.967391
2009-01-18,991.308760,-1.717867,272.126657,-4.664692,81.310595,5.561796,4.483313,1.078720,2.820536,4.526012,1270.352133,1.879524,2.970417,178.882599
2009-01-25,970.486319,1.151438,276.681220,-1.678264,82.035218,6.752004,5.444335,1.307619,3.499306,5.613720,1230.040417,2.553998,3.973105,188.601022
2009-02-01,990.295337,-2.464573,271.454127,-3.848323,90.406944,5.104276,4.617619,0.486429,2.905952,4.663750,1272.179296,1.981885,3.170645,46.615129

I used the .mean() function to aggregate due to the fact that the dataframe is made up of continuous numerical values, so it makes sense.

In [8]:
weather_df_weekly.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 418 entries, 2009-01-04 to 2017-01-01
Freq: W-SUN
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   p (mbar)         418 non-null    float64
 1   T (degC)         418 non-null    float64
 2   Tpot (K)         418 non-null    float64
 3   Tdew (degC)      418 non-null    float64
 4   rh (%)           418 non-null    float64
 5   VPmax (mbar)     418 non-null    float64
 6   VPact (mbar)     418 non-null    float64
 7   VPdef (mbar)     418 non-null    float64
 8   sh (g/kg)        418 non-null    float64
 9   H2OC (mmol/mol)  418 non-null    float64
 10  rho (g/m**3)     418 non-null    float64
 11  wv (m/s)         418 non-null    float64
 12  max. wv (m/s)    418 non-null    float64
 13  wd (deg)         418 non-null    float64
dtypes: float64(14)
memory usage: 49.0 KB

In [9]:
weather_df_weekly.describe()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,989.238368,9.428490,283.468976,4.943220,76.047001,13.557678,9.526417,4.031179,6.017641,9.632617,1216.192035,1.701207,3.054848,174.800532
std,6.217979,7.431565,7.454327,6.135823,8.981430,6.400325,3.770776,3.033723,2.389490,3.811023,34.602324,8.760265,9.746778,35.462175
min,967.816796,-12.640000,259.938155,-15.437232,54.132083,2.419841,1.911012,0.202073,1.180605,1.896250,1151.149742,-176.614435,-194.960387,46.615129
25%,985.893214,3.707639,277.995749,0.534705,69.596037,8.117391,6.436109,1.544459,4.040732,6.480258,1188.048755,1.734730,2.908113,153.013038
50%,989.290461,9.483542,283.648353,5.367331,76.297877,12.371086,9.073214,3.243462,5.703398,9.136746,1212.522202,2.021007,3.398120,182.851230
75%,992.865556,15.301004,289.378093,10.106562,83.067956,17.964365,12.528566,5.945732,7.911840,12.657299,1239.563063,2.411503,4.009271,201.698418
max,1007.889549,24.770526,298.443155,16.751081,95.171131,33.085079,19.144921,16.535179,12.155169,19.398016,1347.082302,4.619732,7.043562,240.663601

In [10]:
weather_df_weekly.shape

(418, 14)

### Train and test split

The main aim of this project is to perform weather forecasting for the period January-December 2016, so I split the datafram accordingly

In [11]:
split = '2016-01-01'
train = weather_df_weekly[weather_df_weekly.index < split]
test = weather_df_weekly[weather_df_weekly.index >= split]

In [12]:
test.tail()

,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
Date Time,,,,,,,,,,,,,,
2016-12-04,999.956121,-0.467679,272.701944,-3.387222,81.552579,6.156409,4.900109,1.256071,3.058046,4.906677,1275.453720,1.437123,2.741706,190.730853
2016-12-11,1000.134891,1.667212,274.823413,-1.334246,81.225665,7.381587,5.828373,1.553492,3.637927,5.834554,1265.589107,1.437609,2.601359,182.925089
2016-12-18,1002.300288,2.645923,275.628373,1.012192,89.163800,7.507450,6.704841,0.802490,4.174643,6.694365,1262.940823,1.418085,2.399752,185.361032
2016-12-25,1000.907817,1.969593,275.060228,-0.343909,85.042927,7.248353,6.080327,1.168135,3.788710,6.076379,1264.651042,1.912788,3.262143,184.388889
2017-01-01,1007.889549,2.689560,275.233866,-0.238472,81.632986,7.702361,6.203750,1.498484,3.838715,6.156250,1270.206458,1.972280,3.632130,222.820949

The test dataframe has one row with value for the year 2017, I keep it anyway cause it gives me information about the last week of 2016.